---
import { getCollection } from "astro:content"
import FormattedDate from "../../components/FormattedDate.astro"
import Page from "@/src/layouts/Page.astro"
import { Image } from "astro:assets"

const posts = (await getCollection("rambling")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Page>
	<section>
		<ul>
			{
				posts.map((post) => (
					<>
						<FormattedDate date={post.data.pubDate} />
						<h1 class="mb-2">
							<a href={`/devlog/rambling/${post.slug}/`}>{post.data.title}</a>
						</h1>
						<p class="mb-4">{post.data.description}</p>
						{post.data.heroImage && <Image src={post.data.heroImage} class="w-full" width={768} height={256} alt="hero" />}
					</>
				))
			}
		</ul>
	</section>
</Page>
