---
import Page from "@/src/layouts/Page.astro"
import Authors from "@/src/components/Authors.astro"
import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

const data = await getCollection("paper")
const papers = data.sort((a: CollectionEntry<"paper">, b: CollectionEntry<"paper">) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime()
})
---

<Page>
	<div class="space-y-12">
		{
			papers.map(({ data }) => {
				return (
					<div class="space-y-1">
						<h3>
							<a href={data.link}>{data.title}</a>
						</h3>
						<div>
							<div class="flex">
								<span class="grow text-xl">
									{data.publisher} {data.pubDate.getFullYear()}
								</span>
								<span>{data.github && <a href={data.github}>Code</a>}</span>
							</div>
						</div>
						<Authors data={data.authors} head={3} tail={2} />
						{/* <div class="mb-8">
							<h4 class="text-md font-bold">Abstract</h4>
							<p>{data.abstract}</p>
						</div> */}
					</div>
				)
			})
		}
	</div>
</Page>
