---
import HeaderLink from "./HeaderLink.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"
import twitter from "@/src/icons/twitter.svg?raw"
import github from "@/src/icons/github.svg?raw"
import coffee from "@/src/icons/coffee.svg?raw"
---

<header class="container mx-auto mb-12">
	<div class="py-4">
		<h1>{SITE_TITLE}</h1>
		<h2>{SITE_DESCRIPTION}</h2>
	</div>
	<nav class="flex">
		<div class="flex grow gap-x-8">
			<HeaderLink href="/devlog/">Home</HeaderLink>
			<HeaderLink href="/devlog/papers">Papers</HeaderLink>
			<HeaderLink href="/devlog/projects">Projects</HeaderLink>
			<HeaderLink href="/devlog/rambling">Rambling</HeaderLink>
			<HeaderLink href="/devlog/cv.pdf">CV</HeaderLink>
		</div>
		<div class="flex gap-x-4">
			<HeaderLink href="https://github.com/RE-N-Y"><Fragment set:html={github} /></HeaderLink>
			<HeaderLink href="https://twitter.com/sleenyre"><Fragment set:html={twitter} /></HeaderLink>
			<HeaderLink href="https://www.buymeacoffee.com/sangwulee2g"><Fragment set:html={coffee} /></HeaderLink>
		</div>
	</nav>
</header>
