---
import Page from "@/src/layouts/Page.astro"
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { Krea } from "@/src/blocks/krea.tsx"
import base from "@/src/images/projects/sae/base.png"
import bun12 from "@/src/images/projects/sae/bun-12.png"
import bun24 from "@/src/images/projects/sae/bun-24.png"
import bun36 from "@/src/images/projects/sae/bun-36.png"
import flower12 from "@/src/images/projects/sae/flower-12.png"
import flower24 from "@/src/images/projects/sae/flower-24.png"
import flower36 from "@/src/images/projects/sae/flower-36.png"
import flowergif from "@/src/content/rambling/images/steering/flower.gif"
import lenia from "@/src/images/projects/lenia/cells.png"
import anime from "@/src/images/projects/anime/muse.png"

const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/projects/krea/*.{jpeg,jpg,png,gif}');
const paths = Object.keys(images);
---

<Page class="flex flex-col h-dvh">
	<!-- <main class="h-dvh px-4 flex flex-col flex-1">
		<div class="flex-1">
			<div class="w-full h-full center">
				<Krea client:only="react">
					{paths.map((path) => {
						const image = images[path];
						return (
							<div class="mx-2 hover:scale-105 cursor-pointer duration-300 ease-in-out shadow shadow-white/20">
								<Image src={image()} alt="" class="h-64 w-auto object-cover" draggable={false} />
							</div>
						);
					})}
				</Krea>
			</div>
		</div>
		<div>
			<div class="h-full flex items-end">
				<div class="m-12 w-full flex justify-between">
					<div>
						<h1 class="mb-2">KREA 1</h1>
						<h2>MY FIRST IMAGE MODEL</h2>
					</div>
					
					<div class="flex relative items-center flex-col">
						<div class="w-32 h-32 overflow-hidden z-10 mb-[-24px]">
							<img src="/devlog/chibi.png" alt="chibi" class="object-cover" />
						</div>
						<button class="border-2 border-white px-12 py-4 text-4xl rounded font-bold hover:bg-white hover:text-black transition-colors bungee">
							READ
						</button>
					</div>
				</div>
			</div>
		</div>
	</main> -->

	<!-- <main class="h-dvh px-4 flex flex-col flex-1 container mx-auto">
		<div class="flex-1 center">
			<div class="grid grid-cols-4 gap-4">
				<div>
					<Image src={flowergif} alt="" class="h-32 w-auto object-cover" draggable={false} />
				</div>
				<div>
					<Image src={bun12} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Hairbun + 12</p>
				</div>
				<div>
					<Image src={bun24} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Hairbun + 24</p>
				</div>
				<div>
					<Image src={bun36} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Hairbun + 36</p>
				</div>
				<div>
					<Image src={base} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Base + 0</p>
				</div>
				<div>
					<Image src={flower12} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Flower + 12</p>
				</div>
				<div>
					<Image src={flower24} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Flower + 24</p>
				</div>
				<div>
					<Image src={flower36} alt="" class="h-32 w-auto object-cover" draggable={false} />
					<p class="font-mono text-md">Flower + 36</p>
				</div>
			</div>
		</div>
		<div>
			<div class="h-full flex items-end">
				<div class="m-12 w-full flex justify-between">
					<div>
						<h1 class="mb-2">SAE</h1>
						<h2>APPLYING sparse autoencoders on images</h2>
					</div>
					
					<div class="flex relative items-center flex-col">
						<div class="w-32 h-32 overflow-hidden z-10 mb-[-24px]">
							<img src="/devlog/chibi.png" alt="chibi" class="object-cover" />
						</div>
						<button class="border-2 border-white px-12 py-4 text-4xl rounded font-bold hover:bg-white hover:text-black transition-colors bungee">
							READ
						</button>
					</div>
				</div>
			</div>
		</div>
	</main> -->
	<!-- <main  class="h-dvh px-4 flex flex-col flex-1 container mx-auto">
		<div class="flex-1 center">
			<Image src={lenia} alt="" draggable={false} />
		</div>
		<div class="h-full flex items-end">
			<div class="m-12 w-full flex justify-between">
				<div>
					<h1 class="mb-2">LENIA</h1>
					<h2>NEURAL CEULLUAR AUTOMATA</h2>
				</div>
				
				<div class="flex relative items-center flex-col">
					<div class="w-32 h-32 overflow-hidden z-10 mb-[-24px]">
						<img src="/devlog/chibi.png" alt="chibi" class="object-cover" />
					</div>
					<button class="border-2 border-white px-12 py-4 text-4xl rounded font-bold hover:bg-white hover:text-black transition-colors bungee">
						PLAY
					</button>
				</div>
			</div>
		</div>
	</main> -->

	<main  class="h-dvh px-4 flex flex-col flex-1 container mx-auto">
		<div class="flex-1 center">
			<Image src={anime} alt="" draggable={false} />
		</div>
		<div class="h-full flex items-end">
			<div class="m-12 w-full flex justify-between">
				<div>
					<h1 class="mb-2">ANIME x TPU</h1>
					<h2>Training anime models on TPUS with JAX</h2>
				</div>
				
				<div class="flex relative items-center flex-col">
					<div class="w-32 h-32 overflow-hidden z-10 mb-[-24px]">
						<img src="/devlog/chibi.png" alt="chibi" class="object-cover" />
					</div>
					<button class="border-2 border-white px-12 py-4 text-4xl rounded font-bold hover:bg-white hover:text-black transition-colors bungee">
						READ
					</button>
				</div>
			</div>
		</div>
	</main>

</Page>
